/* Styles for the Kanban column component */
.kanban_column {/* Adjust column width as needed */
  border-radius: 4px;
  padding: 9px;
  display: flex;
  flex-direction: column; 
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

