.kanban-board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f4f5f8;
}
.user-id {
  font-weight: bold;
  margin-bottom: 10px;
}
.check-button {
  display: flex;
  flex-direction: row;
}
