body {
  font-family: Arial; 
  background-color: rgb(245, 243, 243);  
}
.filter-dropdown {
  margin-bottom: 20px;
}

.display-filter-button {
  margin: 10px 20px 10px 30px;
  width: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  padding: 5px;
  color: rgb(58, 57, 57);
  box-shadow: 0 0 5px rgba(104, 102, 102, 0.3);
  justify-content: space-evenly;
}
  
.display-filter-text {
  font-size: 12px; 
}